.profile {
	display: flex;
	justify-content: space-between;
}

.info {
	width: 50%;
}

.content {
	display: flex;
	flex-direction: column;
	text-align: left;
	.name {
		font-size: 2rem;
		margin: 0 0 10px;
	}
	h3 {
		margin-top: 50px;
		&::after {
			content: '';
			display: block;
			width: 100%;

			border-bottom: 1px solid #000;
			margin-top: 20px;
		}
	}

	.content_experience {
		text-align: left;
		display: flex;
		line-height: 1.4;
		div {
			width: 50%;
			span {
				margin-right: 10px;
				font-weight: bold;
			}
		}
	}
}

.education {
	line-height: 1.4;
	span {
		font-weight: bold;
	}
}

.arrow_btn {
	font-size: 5rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	.arrow {
		transform: translateY(15%);
	}
}
